.quiz_task{
  width: 300px;
  height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 315px;
}

.quiz_answer{

  height: 30px;
  text-align: center;
  color: white;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  line-height: 25px;
  text-decoration: none;
  top: 35px;
  border: none;
}

.quiz_navigation{
  width: 500px;
  height: 50px;
  position: relative;
  margin-left: 38%;

}

.quiz_answer-right{
  background-color: #228B22;

}

.quiz_answer-right:hover{
  background: #6B8E23;
}

.quiz_answer-false{
  background-color: #B22222;

  color: #ffffff;
}

.quiz_answer-false:hover{
  background: #6B8E23;
}

.quiz_question{
  font-size: 20px;
  width: 500px;
}

.quiz_answerList{
  width: 456px;
  height: 50px;
  position: absolute;
  left: -20%;
  top: 30px;
}

.quiz_step {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: 4px;
  position: absolute;
  border: solid 1px #A9A9A9;
}

.quiz_step-one{
  display: inline-block;
}

.quiz_number{
  position: relative;
  text-align: center;
  top: 10px;
}

.quiz_step-two{
  display: inline-block;
  left: 46px;
}

.quiz_step-three{
  display: inline-block;
  left: 92px;
}

.quiz_step-four{
  display: inline-block;
  left: 138px;
}

.quiz_step-five{
  display: inline-block;
  left: 184px;
}

.quiz_step-six{
  display: inline-block;
  left: 230px;
}

.quiz_step-seven{
  display: inline-block;
  left: 276px;
}

.quiz_step-eight{
  display: inline-block;
  left: 321px;
}

.quiz_step-nine{
  display: inline-block;
  left: 366px;
}

.quiz_step-ten{
  display: inline-block;
  left: 411px;
}

.result{
  position: absolute;
  top: 40%;
  left: 49%;
}

.result_block{
  position: absolute;
  top: 50%;
  left: 49%;
  font-size: 50px;
}

.quiz_counter{
  position: relative;
  left: 46%;
  top: 10px;
}
