.block{
  width: 300px;
  height: 150px;
  position: relative;
  margin-left: 50%;
  margin-top: 100px;
}

.block_right-answer{
  width: 70px;
  height: 30px;
  background-color: #B22222;
  text-align: center;
  color: white;
  display: inline-block;
}

.block_false-answer{
  width: 70px;
  height: 30px;
  background-color: #B22222;
  text-align: center;
  display: inline-block;
}

.block_question{
  font-size: 20px;
}
