.block{
  width: 300px;
  height: 150px;
  position: relative;
  margin-left: 48%;
  margin-top: 315px;
}

.block_answer-right{
  width: 70px;
  height: 30px;
  background-color: #228B22;
  text-align: center;
  color: white;
  display: inline-block;
  position: absolute;
  right: 90px;
  top: 35px;
  vertical-align: middle;
line-height: 28px;
text-decoration: none;
}

.block_answer-right:hover{
  background: #6B8E23;
}

.block_answer-false{
  width: 70px;
  height: 30px;
  background-color: #B22222;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 35px;
  vertical-align: middle;
line-height: 28px;
text-decoration: none;
color: #ffffff;
}

.block_answer-false:hover{
  background: #6B8E23;
}

.block_question{
  font-size: 20px;
}

.circleList{
  width: 456px;
  height: 50px;
  position: absolute;
  left: 43%;
  top: 400px;
}

.circle-one{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
}

.circle_number{
  position: relative;
  text-align: center;
  top: 10px;
}

.circle-two{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 46px;
}

.circle-three{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 92px;
}

.circle-four{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 138px;
}

.circle-five{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 184px;
}

.circle-six{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 230px;
}

.circle-seven{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 276px;
}

.circle-eight{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 321px;
}

.circle-nine{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 366px;
}

.circle-ten{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  border: solid 1px #A9A9A9;
  display: inline-block;
  top: 4px;
  left: 411px;
}

.result{
  position: absolute;
  top: 40%;
  left: 49%;
}

.result_block{
  position: absolute;
  top: 50%;
  left: 49%;
  font-size: 50px;
}
